* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main-nav {
  display: flex;
  height: 10vh;
  align-items: center;
  background-color: #d52c3e;
  color: white;
  font-size: larger;
  font-family: "Courier New", Courier, monospace;
  justify-content: space-around;
}
.main-nav a {
  color: white;
  outline: none;
  text-decoration: none;
}
